body
{
    background-color: silver; color: red;
}
h1{ 
    font-family: Arial; 
    font-size: 22px;
}
h2{ 
    background-color: blue; color: white;
}
.gultext{
	background-color: white; color: black;
    text-align: center;

}

.tankar{ 
    text-align: right;
}
a{
    text-decoration: none;
    
}

.migsjalv{
  border:1px solid black;
}

table,th,td {
	border: 1px solid black; 
	border-collapse: collapse;
    text-align: center;
}


table th {
  background-color: green;
  color: white;
  

}
table tr:nth-child(even) {
  background-color: orange;
    color: red

}
    table tr:nth-child(odd) {
 background-color: white;
        color: black
            
}

.left {
        text-align: left;
    
}

.right {
        text-align: right;
    
